<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<h1>Fuck you<h1>
<%= link_to "Home" ,root_path%>
<%= link_to "About" ,about_path%>

<div class="row">
	<div class="col-md-4">
		<!--<img class="" src="https://dl.dropboxusercontent.com/u/247736432/small_201012081233145529.jpg" alt="..."></img>-->
		<h1>Welcome to messageboard<h1>
	</div>

	<div class="col-md-4">
		<h1>Welcome to messageboard<h1>
	</div>

	<div class="col-md-4">
		<h1>Welcome to messageboard<h1>
	</div>


</div>
